<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="card mb-4">
            <div class="card-header">
                <h3>Payment Information</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">Bike: {{ rental.bike.name }}</h5>
                <h6 class="card-subtitle text-muted">User: {{ rental.user.username }}</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Start Time: {{ formatted_start_time }}</li>
                <li class="list-group-item">End Time: {{ formatted_end_time  }}</li>
                <li class="list-group-item">Total Cost: {{ rental.total_cost }}</li>
            </ul>
            <div class="card-body">
                <form method="post" action="{% url 'process_payment' rental.id %}">
                    {% csrf_token %}
                    <button type="submit" name="action" value="make_payment" class="btn btn-success">Make Payment</button>
                    <button type="submit" name="action" value="cancel" class="btn btn-danger">Cancel</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Additional Information</h4>
                <h6 class="card-subtitle mb-2 text-muted">Details</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</body>
</html>
